<header rounded shadow>
  <div class="cover" id="background">

    <div class="photo" id="photo">
      <img src="https:github.com/diogozdev.png" alt=""> -->
    </div>

  </div>
  <div class="info">
    <div class="buttons">
      <a href="https://linkedin.com/in/diogo-lara" target="_blank">
        <button class="button-primary">linkedin</button>
      </a>
      <a href="https://github.com/diogozdev" target="_blank">
        <button class="button-secondary">github</button>
      </a>
    </div>
    <h1>Diogo Lara</h1>
    <h2>Desenvolvedor / Professor de Inglês</h2>
    <h3><a href="https://bankme.tech/" target="_blank">Bankme</a> / <a href="https://www.bslidiomas.com.br/" target="_blank">BSL</a></h3>
  </div>
</header>