<div class="publication" rounded shadow>
  <h3 class="date" *ngIf="date"><mat-icon>today</mat-icon>{{ date }}</h3>
  <h2>{{ title }}</h2><br>
  <div *ngIf="image" class="image-area">
    <img [src]="image">    
  </div>
  <p *ngFor="let paragraph of textArray" class="text">{{ paragraph }}</p>
  <div class="link-area" *ngIf="link">
    <a [href]="link" target="_blank">
      <div class="link-card">
        <div class="link-icon"><mat-icon>link</mat-icon></div>
        <div class="link-url">{{ link }}</div>
      </div>      
    </a>
  </div>
  <hr>
  <div class="tags-area" *ngIf="tags">
    <span class="tag" *ngFor="let t of tagsArray">
      {{ t }}
    </span>
  </div>
</div>
