.publication {
  background-color: white;
  padding: 1rem 0;
  position: relative;

  hr {
    margin: 1rem 0;
    border: 1px 0 0 0;
  }

  h2 {
    line-height: 2;
    text-indent: 1ch;
    padding: 0 1rem;
  }

  .date {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .image-area {
    width: 100%;
    height: 250px;
    object-fit: cover;
    padding-bottom: 1rem;

    img {
      object-fit: cover;
    }
  }

  .link-area {
    padding: 2rem;

    a {
      display: unset;
      text-decoration: none;
      width: min-content;
    }

    .link-card {
      height: 40px;
      width: 250px;
      display: flex;
      flex-direction: row;
      border: solid 2px grey;
      border-radius: 8px;
      overflow: hidden;

      .link-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #d6d6d6;
        color: #777;
        border-right: solid 2px grey;

        mat-icon {
          font-size: 22px;
          transform: rotate(-45deg) translateX(3px);
        }
      }

      .link-url {
        font-size: 14px;
        max-width: 25ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 2.5;
        text-indent: 1ch;
      }
    }
  }
}

p {
  padding: 0.5rem 2rem;
  text-indent: 2ch;
  line-height: 1.8;
}

.tags-area {
  display: flex;
  gap: 1rem;
  padding: 0 1rem;

  .tag {
    padding: 5px 10px;
    border-radius: 30px;
    background-color: hsl(76, 79%, 74%);
    color: hsl(76, 100%, 18%);
  }
}