<main>
    <app-publication
        title="Soft Skills - Saber comunicar"
        date="05/09/2022"
        text="
        Quando era pequeno, não era uma criança muito espontânea e comunicativa. Eu precisava me sentir muito á vontade para conversar com alguém, mesmo que fosse da família. Pra se ter uma ideia, eu tinha vergonha de dizer que queria aprender a tocar guitarra, o que me fez demorar muito tempo para ter um primeiro contato com o instrumento... Enfim, assunto pra outra hora.//

        Claro que isso mudou muito e hoje sei que sou uma pessoa completamente diferente, foram muitas experiêcias interessantes até aqui. (mais assuntos possíveis para futuras histórias?) //

        Lembro que, quando me interessei inicialmente pelo desenvolvimento de software, achei inicialmente que o trabalho seria feito somente com a mão no teclado, num lugar silencioso e isolado socialmente (É óbvio que eu não poderia estar mais errado, ainda bem haha).//

        Independente da área de trabalho, sempre lidamos com pessoas, sejam gestores, clientes, colegas... Se você não se comunica bem com as pessoas (me refiro a não criar conflitos, saber falar sem ofender e ouvir críticas sem se sentir rebaixado), dificilmente terá um progresso significativo.//

        Da mesma forma, trabalhando como professor de inglês, tenho visto cada vez mais a importância de 
        saber passar conhecimento sem, de qualquer forma, aquele que aprende se sinta inferior ou incapaz, assim como sou aberto com meus alunos dizendo que não sou uma máquina, não sei tudo e isso me permite muitas vezes aprender com eles, absorver novos pontos de vista e aprender junto, afinal, acredito que estamos aqui pra isso.//

        E como você percebe sua skill de comunicação?
        "
        tags="soft-skills,comunicação"
    ></app-publication>
</main>
