<main>
  <app-publication
    title="Andressa Ilustra"
    image="https://raw.githubusercontent.com/andressadesign/files/main/andressa/tela-andressa.png"
    text="
      Um projeto feito com: | Angular | Scss | Typescript |
      // O projeto de portfólio de Ilustração e Design de Andressa Araujo conta com traduções para Inglês e Espanhol (feitas por mim) e busca a simplicidade ao focar nos projetos dela.
      // O objetivo é agregar as informações de contato e outras redes com mais obras da Andressa. Acho super fofo o estilo dela e vale a pena dar uma olhada nos projetos de Identidade Visual que ela já fez.
      // Acessa o link!
    "
    link="https://andressailustra.netlify.app"
    tags="front-end, Angular"
  >
  </app-publication>

  <app-publication
    title="Em breve mais"
    image="https://img.freepik.com/free-vector/maintenance-concept-illustration_114360-391.jpg?w=2000"
    text="Em breve, mais projetos interessantes estarão por aqui. Prometo não demorar muito. Obrigado por vir até aqui!  :)"
    tags="desenvolvimento, novidades"
  >
  </app-publication>
</main>
