/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;600&display=swap');

:root {
  --blue-light: hsl(215, 30%, 50%);
  --blue: hsl(215, 100%, 25%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "open sans";
}

html, body {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
}

body {

  --menu-bg: hsl(220, 8%, 16%);
  --menu-color: #fff;

  --text-color: #000;
  --bg-color: hsl(0, 100%, 97%);
  --bg-color-deep: hsl(340, 18%, 87%);

  --btn-main-bg: hsl(220, 8%, 16%);
  --btn-main-color: white;

  --btn-sec-bg: #ddd;
  --btn-sec-color: black;

  --tag-bg: hsl(88, 56%, 70%);
  --tag-color: hsl(88, 100%, 10%);

  --link: hsl(22, 87%, 45%);
  --link-bg: #ccc;
  --link-border: #555;
}

body.dark {
  --menu-bg: hsl(0, 0%, 0%);
  --menu-color: #ddd;

  --text-color: rgb(187, 187, 187);
  --bg-color: hsl(208, 10%, 10%);
  --bg-color-deep: hsl(208, 30%, 15%);

  --btn-main-bg: hsl(0, 0%, 0%);
  --btn-main-color: rgb(187, 187, 187);

  --btn-sec-bg: #888;
  --btn-sec-color: black;

  --tag-bg: hsl(88, 100%, 10%);
  --tag-color: hsl(88, 56%, 70%);

  --link-bg: #ccc;
  --link-border: #555;

  * {
    box-shadow: none;
  }

  img {
    filter: grayscale(50%) brightness(60%);
  }
}

img {
  width: 100%;
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1,h2,h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
} 
 
a, a:visited, a:hover, a:active {
  color: var(--link);
}

[rounded] {
  border-radius: 15px;
}

[shadow] {
  box-shadow: 0 0 8px #0002;
}

button {
  color: unset;
  background-color: unset;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    filter: brightness(130%);
  }
}

.button-primary {
  cursor: pointer;
  background-color: var(--btn-main-bg);
  color: var(--btn-main-color);
}

.button-secondary {
  cursor: pointer;
  background-color: var(--btn-sec-bg);
  color: var(--btn-sec-color);
}

a {
  text-decoration: none;
}