nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: var(--menu-bg);
  color: var(--menu-color);
  z-index: 10;

  .center {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 18px;
    }

    .action-buttons {
      display: flex;
      gap: 1rem;
    }

    .theme-icon {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 11px;
      cursor: pointer;

      .alert {
        width: 12px;
        height: 12px;
        background-color: orange;
        position: absolute;
        top: 0;
        right: 20%;
        border-radius: 50%;
        border: solid 2px var(--menu-bg);
        animation: shake 5000ms ease 1000ms infinite forwards;
      }
    }

    .unset {
      color: unset;
      background-color: unset;
      border: unset         ;
    }

    .icons {
      width: fit-content;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;
    
      .icon {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 11px;
      }

      a {
        color: unset;
        text-decoration: none;
      }
    }
  }
}

@keyframes shake {
  0%, 50%, 60%, 100% {
		transform: translateX(0);
	}

	51%, 53%, 55%, 57%  {
		transform: translateX(-2px);
	}

	52%, 54%, 56%, 58% {
		transform: translateX(2px);
	}
}

