<nav>
  <div class="center">
    <h1>Diogo Lara</h1>

    <div class="action-buttons">
      <button class="theme-icon" (click)="toggleTheme()">
        <mat-icon>{{ dark ? 'dark_mode' : 'light_mode' }}</mat-icon>
        <span>tema</span>
      </button>
  
      <!-- TODO: prepare achievements
      <button class="theme-icon" (click)="toggleNotification()">
        <mat-icon>workspace_premium
          <div class="alert" *ngIf="notification"></div>
        </mat-icon>
        <span>conquistas</span>
      </button> 
      -->
    </div>

    <div class="icons">
      <button routerLink="/" class="icon">
        <mat-icon>home</mat-icon>
        <span>home</span>
      </button>
      
      <button routerLink="projects" class="icon">
        <mat-icon>computer</mat-icon>
        <span>projetos</span>
      </button>

      <button routerLink="blog" class="icon">
        <mat-icon>web</mat-icon>
        <span>blog</span>
      </button>
    </div>
  </div>
</nav>