<nav>
  <div class="center">
    <h1>Diogo Lara - Dev</h1>

    <button class="theme-icon unset" (click)="toggleTheme()">
      <mat-icon>dark_mode</mat-icon>
      <span>tema</span>
    </button>

    <div class="icons">
      <a routerLink="/" class="icon">
        <mat-icon>home</mat-icon>
        <span>home</span>
      </a>

      <!-- <div class="icon">
        <mat-icon>notifications</mat-icon>
        <span>notificações</span>
      </div> -->
      
      <a routerLink="projects" class="icon">
        <mat-icon>computer</mat-icon>
        <span>projetos</span>
      </a>

      <a routerLink="blog" class="icon">
        <mat-icon>web</mat-icon>
        <span>blog</span>
      </a>
    </div>
  </div>
</nav>